.container {
	/* width: 33%; */
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-left: 80px;
	margin-top: 160px;
}

.navLink {
	font-size: 14px;
	color: #111108;
	font-weight: 400;
	width: 0;
	transition: color 0.2s ease-in-out;
}

.navLink:hover {
	text-decoration: underline;
	color: #acb159;
}
