.container {
	/* width: 33%; */
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-left: 80px;
	margin-top: 160px;
}

.navLink {
	font-size: 14px;
	color: #111108;
	font-weight: 400;
	width: 0;
	transition: color 0.2s ease-in-out;
}

.navLink:hover {
	text-decoration: underline;
	color: #acb159;
}

@media (max-width: 600px) {
	.container {
		position: relative;
		margin: 0 auto;
		flex-direction: row; /* Change to row on mobile screens */
		align-items: center;
		justify-content: center; /* Center the links horizontally */
		width: 100%;
		top: auto; /* Remove top positioning for mobile */
		left: auto; /* Remove left positioning for mobile */
		right: auto; /* Remove right positioning for mobile */
		margin-top: 40px;
	}

	.navLink {
		text-align: center;
		margin: 8px;
		width: 100%;
	}
}
