.outer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.container {
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
}

.title {
	font-size: 96px;
	font-weight: 600;
	margin: 0;
	line-height: 1;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align children to the left */
	text-align: left; /* Align text to the left */
	width: 100%; /* Take full width to align left */
	max-width: 200px; /* Adjust width as needed to align under the title */
	margin-left: 8px;
}

.coordinates,
.location {
	font-size: 14px;
	font-weight: 200;
	margin: 0;
}
