@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme variables */
  --background: 255 255 255; /* white */
  --foreground: 0 0 0; /* black */
  --card: 255 255 255; /* white */
  --card-foreground: 0 0 0; /* black */
  --primary: 5 29 181; /* #051DB5 */
  --primary-foreground: 255 255 255; /* white */
  --secondary: 245 245 245; /* #f5f5f5 */
  --secondary-foreground: 0 0 0; /* black */
  --muted: 245 245 245; /* #f5f5f5 */
  --muted-foreground: 115 115 115; /* #737373 */
  --border: 229 229 229; /* #e5e5e5 */
  --accent: 245 245 245; /* #f5f5f5 */
  --accent-foreground: 0 0 0; /* black */
}

::selection {
  background: #051db5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

html,
body {
  height: 100%; /* Ensure the html and body elements are at least 100% height */
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  text-decoration: none;
}

.tech-card {
  transition: all 0.2s;
}

.tech-card:hover {
  box-shadow: 0 0 15px -3px rgba(var(--glow-color), var(--glow-opacity));
}

/* *::before,
*::after {
	box-sizing: border-box;
}



html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

body {
	min-height: 100vh;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}



img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

textarea:not([rows]) {
	min-height: 10em;
}

:target {
	scroll-margin-block: 5ex;
} */
