.container {
	position: fixed;
	z-index: 999;
	top: 100px;
	right: 60px;
}

.title {
	margin-bottom: 26px;
}

.socialContainer {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialContainer a {
	margin-bottom: 26px;
}
